<h1>Listing autoarts</h1>
<%= link_to 'New Autoart', new_autoart_path %><br>
<br>
<div id="autoarts" class="transitions-enabled">
  <% @autoarts.each do |autoart| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(autoart.image.url), autoart %>
          <div class="panel-body">
            <h3><%= autoart.title %></h3>
            <% if current_user && autoart.user == current_user %>
              <%= link_to edit_autoart_path(autoart) do %>
                <span class="glyphicon glyphicon-edit"></span>
                  Edit
              <% end %>
              |<%= link_to autoart, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                  Delete
                <% end %>
            <% end %>
          </div>
    </div>      
  <% end %>
</div>
<br>


