<h1>Listing autoarts</h1>
<%= link_to 'New Autoart', new_autoart_path %><br>
<br>
<div id="autoarts" class="transitions-enabled">
  <% @autoarts.each do |autoart| %>
    <div class="box panel panel-default">
      <%= image_tag autoart.image.url %>
          <div class="panel-body">
            <h3><%= autoart.title %></h3>
            <%= link_to 'Show', autoart %>
            <%= link_to 'Edit', edit_autoart_path(autoart) %>
            <%= link_to 'Destroy', autoart, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
    </div>      
  <% end %>
</div>
<br>


