<h1>Listing autoarts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autoarts.each do |autoart| %>
      <tr>
        <td><%= autoart.title %></td>
        <td><%= autoart.description %></td>
        <td><%= link_to 'Show', autoart %></td>
        <td><%= link_to 'Edit', edit_autoart_path(autoart) %></td>
        <td><%= link_to 'Destroy', autoart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Autoart', new_autoart_path %>
